---
import NextJsIcon from "./icons/NextjsIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import LinkButtom from "./LinkButtom.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import Github from "./icons/Github.astro";
import WordpressIcon from "./icons/WordpressIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: NextJsIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#23272f] text-white",
    icon: ReactIcon,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#21759b] text-white",
    icon: WordpressIcon,
  },
};

const PROJECTS = [
{
    title: "SES México 🚓",
    description:
      "Landing page ha sido diseñada para transmitir confianza y seguridad, ofreciendo una visión integral de los servicios de la agencia de seguridad privada. Destacamos las soluciones especializadas, los permisos que respaldan las operación y empresas líderes que confían en ellos.",
    github:
      "https://github.com/rolandoarellano69/SESMex",
    link: "https://ses-mex.vercel.app/", 
    image: "/projects/646shots_so.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
  },
  {
    title: "Almeria Residencial ⚜️",
    description:
      "Landing page diseñada para destacar la exclusiva residencial ubicada en Tijuana B.C, logrando más de 300 impresiones mediante una estrategia de búsqueda SEO optimizada. Desarrollada con Astro, React y estilizada con Tailwind CSS.",
    github:
      "https://github.com/rolandoarellano69/Landing-page-AlmeriaResidencial",
    link: "https://almeriaresidencial.com/",
    image: "/projects/486shots_so.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
  },
  {
    title: "OBR GROUP Inmobiliaria 🏗️",
    description:"Sito web rediseña y desarrollado para la empresa OBR GROUP de Tijuana B.C, con el objetivo de mostrar sus servicios y proyectos empresariales. Con una buena implementación de SEO se busca aumentar el número de visitar y se establece en una buena posición. Desarrollado con React y estilizado con Tailwind CSS.",
    github: "https://github.com/rolandoarellano69/ObrPage",
    link: "https://obrgroup.com.mx/",
    image: "/projects/obr.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Interaccion Humana - Universidad Iberoamericana de Tijuana 🧠",
    description:"Sitio web desarrollado para la materia de Interacción Humana de la Universidad Iberoamericana de Tijuana, con el objetivo de mostrar los proyectos realizados por los alumnos, como también información, medios audivisuales, material y más. Desarrollado con Wordpress.",
    github: "",
    link: "https://interaccionhumana.tijuana.ibero.mx/",
    image: "/projects/Ibero.webp",
  tags: [TAGS.WORDPRESS],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, tags, link, github, image }) => (
      <article>
        <h3 class="text-2xl font-semibold text-sky-300 mb-4">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>    
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="rounded shadow-xl shadow-white/10 "
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
        <footer class="flex gap-x-4 mt-4 mb-6">
          {github && (<LinkButtom href={github}>
            <Github class="size-6  " />
            Ver Código
          </LinkButtom>
          )}
          <LinkButtom href={link}>
            <LinkIcon class="size-6" />
            Sitio Web
          </LinkButtom>
        </footer>
      </article>
    ))
  }
</section>
